@font-face {
    font-family: "Euphoria";
    src: url(Euphoria_Script/EuphoriaScript-Regular.ttf) format("TrueType");
}

.carousel_title{
    font-family: "Euphoria";
    font-size: 70px;
    font-weight: 800;
    color: white;
}

.flex_container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: start;
   
}

.navbar_title{
   
    background-color: #134467;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.logo_link{
   
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: inline-block;
    
}

.logo_link:focus{
   
    border: 1px solid black;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: inline-block;
    border-radius: 5px;
}

.list-ul{
   
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    list-style-type: none;

}

.list-link{
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    padding: 10px;
    color: white;    
}

.list-link:hover{
   
    opacity: 0.7;
}

#reservation-button{
   
    background-color: white;
    padding: 10px 20px;
    border: 3px solid red;
    color: red;
}

#reservation-button:hover{
   
    background-color: red;
    padding: 10px 20px;
    border: 3px solid red;
    color: white;
    transition: 0.5s ease-in;
}

#boathouse_img{
   
    width: 120px;
}

.carousel_title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    
}

.carousel-inner img {
    height: 500px; /* Set your desired height here */
    object-fit: cover; /* Ensures the image covers the set height without distortion */
    transition: 1s;
}

.flex_title, .flex_container_1, .flex_container_2{
    text-align: center;
}

.flex_title{
    color: #134467;
    font-family: "Euphoria";
    font-weight: 600;
    font-size: 3.5rem;;
   
}

.flex_container_1, .flex_container_2{
    flex: 50%;
    border: 1px solid #ccc;
    padding: 30px 15px;
}

.text_but{
    color: white;
    background-color: #134467;
    padding: 10px 30px;
    border: none;
    text-align: center;
    white-space: nowrap;
}

.text_but:hover{
    transition: 0.5s;
    background-color: #0a304a;
}

.grid_button{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

@media (min-width:992px) {
    #navbar-toggler-icon{
        display: none;
    }
    #boathouse_img{
        width: 200px;
    }
}

@media (max-width:992px) {
    .list-ul{
        display: none;
    }
    .carousel_title{
        font-size: 60px;
    }
}

@media (max-width:768px) {
    .carousel_title{
    font-size: 50px;
    }
    .flex_container{
        flex-flow: row wrap;
    }
    .flex_container_1, .flex_container_2{
        flex: 100%;
    }
}

@media (max-width:650px) {
    .carousel_title{
    font-size: 40px;
    }
}
